@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Kurale&display=swap');
/*Potential Fonts
    https://fonts.google.com/specimen/Kurale
    https://fonts.google.com/specimen/Mali
    https://fonts.google.com/specimen/Unkempt
    https://fonts.google.com/specimen/Edu+SA+Beginner
    https://fonts.google.com/specimen/Grandstander
    https://fonts.google.com/specimen/Cherry+Cream+Soda
    https://fonts.google.com/specimen/Marhey
    https://fonts.google.com/specimen/Irish+Grover
    https://fonts.google.com/specimen/Fresca
    https://fonts.google.com/specimen/Boogaloo
    https://fonts.google.com/specimen/Miltonian+Tattoo
    https://fonts.google.com/specimen/Atma
    https://www.myfonts.com/collections/perfect-magic-font-dharma-type
    https://fonts.google.com/specimen/Ribeye
    */

* {
    box-sizing: border-box;
    font-family: "Fresca", serif;
    font-weight: 400;
    font-style: normal;
    color: #3e0e59;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 254, 250);
    
}
header {
    background-color: rgb(247,35,59);
}
.header-image {
    margin-left:auto;
    margin-right:auto;
    display: block;
    height: 10vh;
}