@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Kurale&display=swap');
/*Potential Fonts
    https://fonts.google.com/specimen/Kurale
    https://fonts.google.com/specimen/Mali
    https://fonts.google.com/specimen/Unkempt
    https://fonts.google.com/specimen/Edu+SA+Beginner
    https://fonts.google.com/specimen/Grandstander
    https://fonts.google.com/specimen/Cherry+Cream+Soda
    https://fonts.google.com/specimen/Marhey
    https://fonts.google.com/specimen/Irish+Grover
    https://fonts.google.com/specimen/Fresca
    https://fonts.google.com/specimen/Boogaloo
    https://fonts.google.com/specimen/Miltonian+Tattoo
    https://fonts.google.com/specimen/Atma
    https://www.myfonts.com/collections/perfect-magic-font-dharma-type
    https://fonts.google.com/specimen/Ribeye
    */

* {
    box-sizing: border-box;
    font-family: "Fresca", serif;
    font-weight: 400;
    font-style: normal;
    font-size:large;
    color: #3e0e59;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 254, 250);
    
}
ul {
    margin: 0;
}
header {
    background-color: rgb(247,35,59); /*f7233b*/
}
.header-image {
    margin-left:auto;
    margin-right:auto;
    display: block;
    max-height: 10vh;
}

.header-nav {
    text-align: center;
    list-style-position:inside;
}

.header-nav-item {
    display: inline-block;
    padding: 0.2em 1%;
    margin-bottom: 0.4em;
    min-width: 4em;
}
.header-nav-item:hover {
    background-color: hsl(0, 100%, 45%);
}
.header-nav-link {
    color: #FFF606;
    font-size:larger;
    text-decoration: none;
    font-weight:800;
    letter-spacing:1px;
}

footer {
    background-color: rgb(247,35,59);
    blo
}
/*.footer-nav {
    
}*/
.footer-nav-item {
    display: inline;
}
.footer-nav-link {
    text-decoration: none;
    color: rgb(247,35,59);
    max-width: 1em;
    max-height: 1em;
}
.footer-nav-image {
    max-width: 2em;
    max-height: 2em;
}
