
.main-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: justify;
}
.main-content p {
    margin: 0px 50px;
}
.body-image {
    max-width: 450px;
    max-height: 450px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 50px;
    object-fit: contain;
}
.right-alligned {
    float: right;
}
.left-alligned {
    float: left;
}